<mat-toolbar>
    <div name="headerName" id="headerName">
        Promo Tourism 
    </div>
    
    <div name="headerRight" id="headerRight">
        <ul>
            <li><a routerLink="/home" mat-button>Home</a></li>
            <li><a routerLink="/product" mat-button>Product</a></li>
            <li><a routerLink="/review-merchant-registration" mat-button>Account Management</a></li>
            <li><a routerLink="/account-list" mat-button>Account</a></li>
            <li><a routerLink="/login" mat-button>Login</a></li>
        </ul>
    </div>

</mat-toolbar>