<mat-toolbar>
    <div name="headerName" id="headerName">Promo Tourism</div>
  
    <div name="headerRight" id="headerRight">
      <ul>
        <li><a routerLink="/home" mat-button>Home</a></li>

          <li *ngIf="!isLogin() || (isLogin() && getUserRole() === 'user')">
            <a mat-button routerLink="/product" (click)="checkLogin()">Product</a>
          </li>

          <li *ngIf="!isLogin() || (isLogin() && getUserRole() === 'user')">
            <a mat-button routerLink="/reviewProduct" (click)="checkLogin()">Review Product</a>
          </li>
          
          <li *ngIf="isLogin() && getUserRole() === 'officer'">
            <a mat-button>Account Management</a>
          </li>

          <li *ngIf="isLogin() && getUserRole() === 'merchant'">
            <a routerLink="/manage-tourism-product" mat-button>Product Management</a>
          </li>
          
          <li *ngIf="isLogin() && (getUserRole() === 'officer' || getUserRole() === 'merchant')">
            <a routerLink="/analyticsReport" mat-button>Report</a>
          </li>

          <li *ngIf="!isLogin()">
            <a routerLink="/login" mat-button>Login</a>
          </li>

          <li *ngIf="isLogin()" mat-button>
            <button mat-button (click)="logout()">Logout</button>
          </li>
      </ul>
    </div>
  </mat-toolbar>
  