<div class="center-container">
  <h1>Merchant Account Application</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of accounts" [expanded]="user.expanded">
      <mat-expansion-panel-header>
        <mat-panel-title class="user-title">
          <div class="left-content">
            <p>Merchant ID: {{ user.merchantID }}</p>
          </div>
          <div class="right-content">
            <p>Status: {{ user.status }}</p>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="user-details">
          <div class="contact-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Merchant Name:</strong> {{ user.merchantName }}</p>
            <p><strong>Contact Number:</strong> {{ user.contactNumber }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Company Description:</strong> {{ user.companyDescription }}</p>
            <a class="download-link" [href]="user.pdfFile" download="{{ user.username }}.pdf">Download PDF</a>
            <div class="button-group" *ngIf="!areButtonsHidden(user)">
              <br>
              <button class="approve-button" (click)="approveUser(user)">Approve</button>
              <button class="reject-button" (click)="rejectUser(user)">Reject</button>
            </div>                        
          </div>
        </div>    
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
