h1{
    text-align: center;
}

mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
mat-dialog-actions{
    text-align: center;
}
mat-dialog-content {
    text-align: center;
}
::ng-deep .file-upload-container{
    text-align: center;
}
::ng-deep input[type="file"] {
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
}

::ng-deep button.upload-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: 3px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

::ng-deep .mat-dialog-title {
    font-size: 24px;
    color: #333;
}

::ng-deep button.cancel-button{
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    border: 3px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 3px;
}
::ng-deep.button-container {
    display: inline-block; 
}

::ng-deep.cancel-button,
.home-button {
    margin-right: 8px;
}
::ng-deep button.home-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}
