<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label> <br>
      <input type="text" id="username" formControlName="username">
      <!-- Display validation message if username field is touched and has 'required' error -->
      <div style="color: brown;" *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
        <span>Username is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label> <br>
      <input type="password" id="password" formControlName="password">
      <!-- Display validation message if password field is touched and has 'required' error -->
      <div style="color: brown;" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
        <span>Password is required.</span>
      </div>
    </div>
    <div class="form-group">
      <button class="login-button" type="submit">Login</button><br><br>
      <div class="register-link">
        <a routerLink="/registration" mat-button>Haven't have an account? (Register)</a>
      </div>
    </div>
  </form>
</div>
