.content{
    padding: 16px;
    border: 5px;
}

.text-center {
  text-align: center !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.text-decoration-none {
  text-decoration: none !important;
}

.padding-top{
  padding-top: 7px;
}

.h5{
  color: #212121;
  font-weight: 500;
  font-size: 1.25rem;
}

a:hover{
  color: #7AB730;
}

.cardWidth{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
  }

  .d-flex {
    display: flex !important;
    
  }

  .justify-content-between {
    justify-content: space-between !important;
  }

  .orange-icon{
    color: orange;
    
  }

  .m-0{
    margin: 0;
  }

  .mr-2{
    margin-right: 0.5rem !important;
    
  }

  .mt-4,
.my-4 {
  margin-top: 10px !important;
}

.pt-4,
.py-4 {
  padding-top: 10px !important;
}

.text-primary {
    color: #7AB730 !important;
  }

  .text-uppercase {
    text-transform: uppercase !important;
  }

  .aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    
}