/* manage-tourism-product.component.css */

/* Style the container div */
.product-list {
    width: 90%;
    margin: 20px auto; /* Auto margin horizontally centers the container */
    text-align: center;
    justify-content: center;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements horizontally */
  }
  .header-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items vertically */
}
  /* Style the table header */
  .product-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr 1fr;
    border: 1px solid #ddd;
    background-color:rgb(222, 222, 222);
    color: #000000;
    padding: 10px;
    gap: 10px;
    align-items: center;
    max-width: 100%;
  }
  
  /* Style the table rows */
  .product-row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr 1fr;
    border: 1px solid #ddd;
    padding: 10px;
    gap: 10px;
    align-items: center;
  }
  
  /* Add a border to the right of each column in product-row */
  .product-row > div {
    padding-right: 10px;
    align-items: center;
  }
  
  /* Style the image */
  .product-image {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto;
  }
  
  /* Style the button container */
  .button-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: center; /* Align buttons to the start (left) */
    gap: 10px; /* Add space between buttons */
  }
  
  /* Style the action buttons (Edit and Delete) */
  .action-button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    width: 100px; /* Set a fixed width for both buttons */
    text-align: center; /* Center the button text */
  }
  
  .green-button:hover {
    background-color: rgb(0, 255, 0);
  }

  .red-button:hover {
    background-color: #f65a6a;
  }

  .green-button {   
    background-color: rgb(55, 213, 55);
    color: #fff;
  }
  
  /* Red button for Delete */
  .red-button {
    background-color: #e63748;
    color: #fff;
  }
  
  /* Style the "Add New" button */
  .add-new-button {
    border: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: auto; /* Let it take its natural width */
    margin-left: auto; /* Push it to the right */
}

.add-new-button:hover {
    background-color: rgb(73, 73, 73);
}

.no-records-message{
  color: red;
}
  