<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{products.imageUrl}}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="mb-4">{{products.tourTitle}}</h1>
                <p class="highlight-style">Highlight</p>
                <div class="row gy-2 gx-4 mb-4">

                    <ul class="type">
                        <li class="li-style" *ngFor="let desc of productDescs">{{desc}}</li>
                    </ul>
                </div>
                
                
                <p hidden>{{products.price}}</p>
            </div>

            <form class="row mb-4 padding" #bookingDetails="ngForm" (submit)="onConfirmBookingDetails(bookingDetails)">
                <div class="numPax col-lg-6">
                    <mat-form-field class="mb-0">
                        <mat-label>Number of Pax</mat-label>
                        <input matInput required ngModel #numOfPax="ngModel"
                            type="number" name="numOfPax" [(ngModel)]="pax"
                            min="1" max="10" (change)="calculateTotalPrice()">
                        <mat-error *ngIf="numOfPax.invalid">Please enter a numeric number between 1 - 9!</mat-error>
                        
                    </mat-form-field>
                </div>

                <div class="numPax col-lg-6">
                    <mat-form-field class="mb-0">
                        <mat-label>Contact Number</mat-label>
                        <input matInput required ngModel #contactNum="ngModel"
                            type="tel" pattern="[0-9]{3}[0-9]{7}" name="contactNum">
                            <mat-error *ngIf="contactNum.invalid">Please enter a valid phone number!</mat-error>
                    </mat-form-field>
                </div>

                <div class="numPax col-lg-6">
                    <mat-form-field>
                        <mat-label>Please select a visit date</mat-label>
                        <input matInput [matDatepicker]="picker" required ngModel
                            #visitDate="ngModel" name="visitDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [calendarHeaderComponent]=""></mat-datepicker>
                        <mat-error *ngIf="visitDate.invalid">Please select a visit date!</mat-error>
                    </mat-form-field>
                </div>
                
                <p hidden ngModel [(ngModel)]="totalPrice" name="totalPrice"></p>

                <button mat-raised-button type="submit" class="button-deco">
                    Proceed to Payment
                </button>
            </form>
        </div>
    </div>
</div>