/* Style the container */
.container {
    max-width: 60%;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text content */
}

/* Style the form elements */
.form-group {
    text-align: left; /* Reset text alignment for labels and inputs */
    max-width: 80%;
    margin: 0 auto; /* Center the form within the container */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make labels bold */
}

input[type="text"],
input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

textarea {
    width: 100%; /* Ensure a fixed width */
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing while fixing width */
    margin-bottom: 10px;
}

/* Style the submit button */
.button-group {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Add space at the top */
}

.action-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px; /* Add space between buttons */
}

.action-button.red-button {
    background-color: #ff0000;
}

.action-button:hover {
    background-color: #0056b3;
}
.action-button.red-button:hover {
    background-color: #aa1414;
}

.error-message {
    color: #d9534f; /* Red color for error messages */
    font-size: 14px;
}

/* Style the image preview */
#imagePreview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Style input row (label and input) */
.input-row {
    display: flex;
    align-items: center;
}

/* Style input label */
.input-row label {
    flex: 1; /* Allow label to grow flexibly */
    margin-right: 10px; /* Add some space between label and input */
}

/* Style input field */
.input-row input[type="text"],
.input-row input[type="file"],
.input-row textarea {
    flex: 2; /* Allow input field to grow flexibly */
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

