.chart{
    max-width: 650px;
    margin: 35px auto;
}

.barLayout{
    flex: 1;
    box-shadow: 10px 10px 5px #aaaaaa;
    height:400px;
    margin-right: 20px;
}

.totalSale{
    flex: 1;
    box-shadow: 10px 10px 5px #aaaaaa;
    height:400px;
}